// Squash buttons to icon only if screen is small.
@media only screen and (max-width: 40rem) {
  a.navButton {
    width: 3rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  a.navButton > span {
    display: none;
  }
}
