img {
  filter: drop-shadow(3px 3px 5px #a7a7a7);
}

.big-try-button.bx--resource-card--dark a.bx--tile {
  background: #0f62fe;
}

.big-try-button.bx--resource-card--dark:hover a.bx--tile {
  background: #0353e9;
}

.big-try-button .bx--resource-card__icon--img {
  visibility: hidden;
}

.big-try-button a.bx--tile--clickable > div {
  background: #0f62fe;
  color: white;
}

.big-try-button a.bx--tile--clickable:hover > div {
  background: #0353e9;
}
