@import "~carbon-components/scss/globals/scss/layout";

.page-header {
  --height: 20rem;
  height: 20rem;
  height: var(--height);
  background-color: $carbon--black-100;
  color: $carbon--white-0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid $carbon--gray-80;
}

.dark-mode.page-header {
  border-bottom: 1px solid $carbon--gray-100;
}

.document-counter {
  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.document-count {
  font-weight: 300;
  font-size: 3rem;
  line-height: 3rem;

  color: hsl(209, 100%, 95%);
  text-shadow: 0 0 0.25rem hsl(209, 100%, 90%), 0 0 0.5rem hsl(209, 100%, 75%),
    0 0 0.75rem hsl(209, 100%, 75%), 0 0 1rem hsl(209, 100%, 50%),
    0 0 1.25rem hsl(209, 100%, 50%), 0 0 1.75rem hsl(209, 100%, 50%),
    0 0 2rem hsl(209, 100%, 50%);
}

.with-tabs {
  height: calc(var(--height) - 3rem);
}

.text {
  @include carbon--type-style("display-01", true);
  margin-bottom: $spacing-07;
  margin-top: auto;
}
